
.advantages{
  @extend %section;
  padding-bottom: 0;
}
.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.advantages__card {
  --items: 4;
  min-width: 270px;
}

.advantages__card:nth-child(4n) {
  margin-right: 0;
}

.card-set__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  height: 120px;
  background-size: contain;
  background-color: var(--background-color-secondary);
  border-radius: 4px;
  margin-bottom: 30px;
}
