.footer {
  background: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  align-items: baseline;
  gap: 70px;
}
.footer-list {
  display: block;
  margin-top: 30px;
}

.footer-list__location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
}

.footer-list__contacts,
.footer-list__phone {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.footer-list__address {
  display: block;

&:not(:last-child) {
  margin-bottom: 9px;
}
}


.footer-socials-title,
.signpost-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

footer-socials__icon {
  fill: var(--primary-white-color);
}

.signpost-form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.form-email {
  display: block;
  margin: 0;
  padding: 16px 15px;
  min-width: 358px;
  min-height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--primary-white-color);
  background-color: var(--background-color-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;


&:placeholder-shown {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
}

